<!-- index.hbs -->
<title>Home</title><link rel="stylesheet" href="css/style.css">
<a href="/customers">Customers</a> | 
<a href="/campgrounds">Campgrounds</a> | 
<a href="/sites">Campground Sites</a> | 
<a href="/reservations">Reservations</a>